# base libs
wheel
voila
pre-commit
earthengine-api

# Fixes authentication process
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

# custom libs
pandas
matplotlib
numpy
geopandas
rasterio
natsort
geemap

# trigger build
