# base libs
wheel
voila
pre-commit
earthengine-api

sepal_ui==2.20.0
rasterio<1.3.11 # Leave it here even if it's already in the sepal_ui requirements. Check https://github.com/openforis/sepal/issues/328

# custom libs
pandas
matplotlib
numpy
geopandas
natsort
geemap